DataAggregator.Web/Service References/RetailFileInfoService/FileInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://s-op1.gk.bionika.ru:8123/FileInfoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://s-op1.gk.bionika.ru:8123/FileInfoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileInfoService_DeleteFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileInfo" />
  </wsdl:message>
  <wsdl:message name="IFileInfoService_DeleteFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFileInfoService_ReloadFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadFileInfo" />
  </wsdl:message>
  <wsdl:message name="IFileInfoService_ReloadFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFileInfoService_UpdateFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileInfo" />
  </wsdl:message>
  <wsdl:message name="IFileInfoService_UpdateFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileInfoService">
    <wsdl:operation name="DeleteFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileInfoService/DeleteFileInfo" message="tns:IFileInfoService_DeleteFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileInfoService/DeleteFileInfoResponse" message="tns:IFileInfoService_DeleteFileInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileInfoService/ReloadFileInfo" message="tns:IFileInfoService_ReloadFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileInfoService/ReloadFileInfoResponse" message="tns:IFileInfoService_ReloadFileInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileInfoService/UpdateFileInfo" message="tns:IFileInfoService_UpdateFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileInfoService/UpdateFileInfoResponse" message="tns:IFileInfoService_UpdateFileInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileInfoService" type="tns:IFileInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteFileInfo">
      <soap:operation soapAction="http://tempuri.org/IFileInfoService/DeleteFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadFileInfo">
      <soap:operation soapAction="http://tempuri.org/IFileInfoService/ReloadFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFileInfo">
      <soap:operation soapAction="http://tempuri.org/IFileInfoService/UpdateFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileInfoService">
    <wsdl:port name="BasicHttpBinding_IFileInfoService" binding="tns:BasicHttpBinding_IFileInfoService">
      <soap:address location="http://s-op1.gk.bionika.ru:8123/FileInfoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>